$font-family: 'Noto Sans TC', sans-serif;
$dark-color: #000;
$gray-text: #797979;
$gray-bg: #f8f8f8;
$gray-border: #b9b9b9;
$light-color: #fff;
$check-color: #6a33ff;
$l-purple-color: #6a33f8;
$d-purple-color: #301e5f;
$base-fz: 12px;
$fw-heavy: 900;
$fw-bold: 600;
