/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
}

.header::after {
  content: '';
  display: block;
  height: 40px;
  width: 100%;
  background-color: #000;
}

.header-top {
  width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top .logo {
  font-family: 'Dela Gothic One', cursive;
  font-size: 24px;
  margin: 40px 0;
}

.header-top .logo a {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.header-top .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.header-top .nav a {
  display: block;
  width: 80px;
  margin-right: 40px;
  text-decoration: none;
  color: #000;
  font-size: 19.2px;
}

.header-top .nav a:hover {
  color: #6a33f8;
}

h3 {
  font-size: 27.6px;
  text-align: center;
}

.wrap {
  width: 1110px;
  margin: 0 auto;
}

.wrap .banner {
  width: 1110px;
  height: 420px;
  margin-top: 20px;
  background-image: url("https://i.imgur.com/8GUXSwB.png");
  position: relative;
}

.wrap .banner h2 {
  color: #fff;
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 31.2px;
  line-height: 1.2;
}

.wrap .advantage {
  margin: 30px 0;
}

.wrap .advantage .advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .advantage .advantage-list li {
  width: 350px;
  margin: 30px 30px 0 0;
  text-align: center;
}

.wrap .advantage .advantage-list li p {
  font-size: 19.2px;
  margin-top: 10px;
}

.wrap .compair {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.wrap .compair .compair-table {
  width: 730px;
  margin: 15px auto;
  line-height: 2.5;
}

.wrap .compair tr {
  border-bottom: 1px solid #b9b9b9;
}

.wrap .compair tr td:nth-child(3),
.wrap .compair tr td:nth-child(4) {
  color: #797979;
}

.wrap .compair th[scope='row'] {
  text-align: left;
}

.wrap .compair th:nth-child(3),
.wrap .compair th:nth-child(4) {
  color: #797979;
}

.wrap .compair td {
  text-align: center;
}

.wrap .compair .fa-check {
  color: #6a33f8;
}

.recommend {
  background-color: #301e5f;
  color: #fff;
  padding: 50px 0;
}

.recommend .recom-content {
  width: 1110px;
  margin: 20px auto;
}

.recommend .recom-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recommend .recom-content .first-line {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 50px;
}

.recommend .recom-content .second-line {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
}

.recommend .recom-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  color: #000;
  border: 1px solid #b9b9b9;
  margin: 0 30px 10px 0;
  width: 350px;
}

.recommend .recom-content .person {
  margin: 15px 0 0 15px;
}

.recommend .recom-content .person-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.4;
}

.recommend .recom-content .person-info img {
  width: 60%;
}

.recommend .recom-content .name {
  font-size: 12px;
}

.recommend .recom-content .buyProduct {
  font-size: 9.6px;
  color: #6a33f8;
}

.recommend .recom-content .text {
  font-size: 12px;
  margin-top: 15px;
}

.shipping {
  margin: 30px;
}

.shipping .shipping-step {
  width: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.shipping .shipping-step .fa-caret-right {
  line-height: 7;
  font-size: 30px;
}

.shipping .shipping-step li {
  margin-top: 40px;
  text-align: center;
}

.shipping .shipping-step .icon {
  width: 115px;
  height: 115px;
  border: 3px solid #000;
  border-radius: 50%;
  font-size: 40px;
}

.shipping .shipping-step .icon i {
  padding-top: 40px;
}

.shipping .shipping-step .step {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.4;
}

.product select {
  width: 255px;
  height: 38px;
}

.product .product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.product .product-list .item {
  position: relative;
  margin-right: 20px;
}

.product .product-list .cart-btn {
  display: block;
  text-decoration: none;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-weight: normal;
  font-size: 15px;
}

.product .product-list .cart-btn:hover {
  background-color: #301e5f;
}

.product .product-list .item-info {
  font-size: 15px;
  line-height: 1.8;
}

.product .product-list .item-info .normal-price {
  text-decoration: line-through;
}

.product .product-list .item-info .sale-price {
  font-size: 21px;
}

.product .product-list .mark {
  color: #fff;
  background-color: #000;
  width: 88px;
  height: 44px;
  font-size: 15px;
  text-align: center;
  line-height: 3.5;
  position: absolute;
  right: -10px;
  top: 10px;
}

.my-cart {
  background-color: #f8f8f8;
  margin-top: 30px;
  padding: 30px 0;
}

.my-cart td,
.my-cart th {
  width: 255px;
  font-size: 15px;
  vertical-align: middle;
  margin: 10px 0;
  padding: 20px 0;
}

.my-cart .cart {
  width: 920px;
  margin: 30px auto;
  text-align: left;
}

.my-cart .cart td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.my-cart .cart img {
  width: 80px;
  height: 80px;
}

.my-cart .cart .item-name {
  padding: 5px;
  line-height: 1.3;
}

.my-cart .cart .fa-times {
  font-size: 23px;
  color: #000;
}

.my-cart .boughtItem tr {
  border-bottom: 1px solid #b9b9b9;
}

.my-cart .cart-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.my-cart .cart-footer .deleteAllBtn {
  width: 160px;
  height: 48px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.my-cart .cart-footer .deleteAllBtn:hover {
  background-color: #000;
  color: #fff;
}

.my-cart .cart-footer p {
  margin-right: 135px;
}

.my-cart .cart-footer .total-price {
  font-size: 21px;
  margin-left: 30px;
}

.buyer-info {
  padding: 30px 0;
  margin-bottom: 40px;
  position: relative;
}

.buyer-info .buyer-form {
  width: 555px;
  margin: 20px 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 2;
}

.buyer-info .buyer-form input,
.buyer-info .buyer-form select {
  width: 350px;
  height: 38px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  padding-left: 5px;
}

.buyer-info .alert-msg {
  color: #c72424;
}

.buyer-info .submitBtn {
  width: 255px;
  height: 48px;
  position: absolute;
  left: 495px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid;
}

.buyer-info .submitBtn:hover {
  background-color: #301e5f;
}
/*# sourceMappingURL=all.css.map */