$font-family-C: 'Noto Sans TC', sans-serif;
$black: #000;
$white: #fff;
$check-color: #6a33ff;
$hover-color: #6a33f8;
$alert-color: #c72424;
$bg-color-dark: #301e5f;
$bg-color-light: #f8f8f8;
$base-fz: 12px;
$fw-heavy: 900;
$fw-bold: 600;
